.rootDiv{
  img {
    position: absolute;
    z-index:9999999;
  }

  #elements{
    position: relative;
    z-index:3;
    border: 1px solid gray;
    width: auto;
    border-radius: 60px;
    padding:20px;
    height: auto;
    max-width: 500px;
    margin: 0 auto;
    margin-top:100px;
    background: rgba(255, 255, 255, 0.3);
    padding-bottom: 50px;

    form {
      display: flex;
      justify-content: center;
      margin-bottom:20px;

      input {
        width: 300px;
      }

      button{
        width:30px;
        height:30px;
        background-color: DodgerBlue;
        border: none;
        color: white;
        padding: 12px 16px;
        font-size: 16px;
        cursor: pointer;
      }
    }

    .info {
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
    }

    .weather {
      display: flex;
      justify-content: center;
    }
  }
  #video-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
    background: url(./assets/Nature-Sunset.jpg) no-repeat #94a233;
    background-size: cover;
  }

  #video-bg > video {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
  }

  @supports (object-fit: cover) {
     #video-bg > video {
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
     }
  }
}
